/* General Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #001f3f;
  color: white;
  padding: 0.25rem 0;
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  color: #333;
  color: white;
}
.container {
  width: calc(100% - 100px);
  padding: 20px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
  color: #001f3f;
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 14px;
  color: #3c3c3c;
}

input,
select {
  width: calc(100% - 30px);
  padding: 14px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 12px;
  font-size: 16px;
}

button {
  background-color: #001f3f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s;
  margin-right: 15px;
  margin-top: 10px;
  min-width: 200px;
  height: 43px;
}

button:hover {
  background-color: #0d447b;
}

.addContainer,
.layoutContainer,
.inventoryContainer,
.notificationContainer,
.addedContainer,
.updateContainer {
  margin: 20px auto;
  width: calc(100% - 100px);
  padding: 20px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
